.header-fix-shop {
    width: 100%;
    z-index: 30;
    background-color: #ff8000;
}

.burger {
    text-align: center;
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    transition: .5s;
    cursor: pointer;
    border-radius: 50%;
}

.burger span {
    background-color: #f7f2de;
    position: absolute;
    width: 75%;
    height: 4px;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
}

.burger span:before {
    content: "";
    position: absolute;
    top: -.66rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f2de;
    border-radius: 2px;
}

.burger span:after {
    content: "";
    position: absolute;
    top: .66rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f2de;
    border-radius: 2px;
}

.burger:hover {
    background-color: rgb(229, 74, 64);
}

.contents {
    background-color: white;
    width: 100%;
}

.content-box {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.content-left {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-right {
    width: 20%;
}

.content-right p.title {
    text-align: center;
    font-size: 1.2rem;
    padding: .45rem 0;
    border: 10px solid #f8f5f2;
    font-weight: 600;
    box-sizing: border-box;
    cursor: pointer;
}

.cart-icon {
    padding: 2rem 0 0 0;
    text-align: center;
    border-left: 10px solid #f8f5f2;
    border-right: 10px solid #f8f5f2;
}

.cart-icon img {
    width: 3rem;
    opacity: .6;
}

.cart-info {
    text-align: center;
    font-size: 1rem;
    color: rgba(0, 0, 0, .8);
    border-left: 10px solid #f8f5f2;
    border-right: 10px solid #f8f5f2;
    border-bottom: 10px solid #f8f5f2;
    padding: 0 1rem 2rem 1rem;
}

.header-img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-img img {
    width: 100%;
}

.content-left-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f8f5f2;
    z-index: 10;
    position: relative;
}

.content-left-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fdd33e;
    justify-content: space-between;
    display: none;
    transition: .5s;
}

.search-icon,
.search-close {
    width: 5%;
    padding: 1rem .66rem .33rem .66rem;
    cursor: pointer;
    text-align: center;
    background-color: #f8f5f2;
}

.search-close {
    font-size: 1.4rem;
    font-weight: 600;
    color: brown;
}

.content-left-search input {
    width: 90%;
    background-color: white;
    border: none;
    outline: none;
    padding: .25rem 1rem;
    font-size: 1.1rem;
    font-family: "MontserratAlternates-Regular", sans-serif;
    border-top: 10px solid #f8f5f2;
    border-bottom: 10px solid #f8f5f2;
}

.content-left-icon {
    width: 5%;
    padding: 1rem .66rem .33rem .66rem;
    cursor: pointer;
    text-align: center;
}

.content-left-icon img {
    width: 100%;
}

.content-left-items {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-left-item a {
    font-size: 1rem;
    padding: .5rem 1rem;
    margin: .5rem;
    color: rgba(0, 0, 0, .8);
    border-radius: 1rem;
    transition: .5s;
    font-weight: 600;
}

.content-left-item a:hover,
.content-left-item a.active {
    background-color: #ff8000;
    color: #f7f2de;
}

.content-left-favorit {
    width: 5%;
    padding: 1rem .66rem .33rem .66rem;
    cursor: pointer;
    text-align: center;
}

.content-left-favorit img {
    width: 100%;
}

.content-left h3 {
    width: 100%;
    font-size: 1.4rem;
    margin: 0;
    padding: 2rem 0 1rem 0;
    font-weight: 600;
    color: #ff8000;
}

.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item {
    width: 99%;
    border: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: .5s;
    position: relative;
}

.cart-add {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: .5rem;
    transition: .5s;
    opacity: .7;
}

.cart-add:hover {
    opacity: 1;
}

.favorit-add {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: .5rem;
    transition: .5s;
    opacity: .7;
}

.favorit-add:hover {
    opacity: 1;
}

.menu-item:hover {
    border: 1px solid rgba(0, 0, 0, .5);
}

.menu-item-desc {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.item-text {
    font-size: 1rem;
}

.item-price {
    font-size: 1.3rem;
    color: #ff8000;
    font-weight: 600;
}

.menu-item-img {
    width: 15%;
}

.menu-item-img img {
    width: 100%;
}

.info-section-bg {
    width: 100%;
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, .66);
}

.info-section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}

.info-item {
    width: 25%;
    text-align: center;
}

.info-item a {
    color: rgba( 255, 255, 255, .8);
    text-decoration: none;
    transition: .5s;
    font-size: .9rem;
}

.info-item a:hover {
    color: rgba(255, 255, 255, 1);
}